@model List<Web.Models.ReportViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<style>
    .bEnd {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
</style>

<div class="container alert alert-dark">
    <h1 class="text-center">@Localizer["header_report"]</h1>
    <div class="container alert alert-warning">
        <h3>@Localizer["header_main"]</h3>
        <hr />
        <div class="text-center">
            @if (Model.Count == 0)
            {
            <h2>@Localizer["report_empty"]</h2>
            }
            else
            {
                <div id="mainContainer" class="table-responsive-sm text-center" style="max-width:100%">
                    <table id="tableId" class="table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">@Localizer["report_target"]</th>
                                <th scope="col">@Localizer["report_amount"]</th>
                                <th scope="col">@Localizer["report_type"]</th>
                                <th scope="col">@Localizer["report_final"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.ObjectId" name="@item.UserId" resource="@item.ReportType" class="mb-auto">
                                    <th scope="row">
                                        @item.UserId
                                    </th>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        <div>
                                            @if (item.ReportType == "comment")
                                            {
                                                <text>@Localizer["report_comment"]</text>
                                                <div>
                                                    <button data-objectType="comment" class="bEnd showObjectButton btn btn-success">@Localizer["report_show"]</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <text>@Localizer["report_post"]</text>
                                                <div>
                                                    <button data-objectType="post" class="bEnd showObjectButton btn btn-success">@Localizer["report_show"]</button>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <button class="bEnd delRepButton btn btn-outline-primary">@Localizer["report_clear"]</button>
                                        </div>
                                        <div>
                                            <button class="bEnd delObjButton btn btn-outline-danger">@Localizer["report_delete"]</button>
                                        </div>
                                        <div>
                                            <button class="bEnd banButton btn btn-outline-dark">@Localizer["report_ban"]</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>

    @*Modal for showDetailPost*@
    <button id="postModalButton" type="button" hidden="hidden" data-toggle="modal" data-target="#postModal"></button>
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div id="postContainer" class="modal-content">
                @*Parial View*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function DeleteReports(objectId, targetId, type) {
            $.ajax({
                type: 'POST',
                url: 'DeleteReports',
                dataType: 'html',
                data: { 'objectId': objectId, 'targetId': targetId, 'type': type },
                success: function () {
                    console.log(`Delete reports from ` + type + `: '` + objectId + `' from: '` + targetId + `'`);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function DeleteObject(objectId, type) {
            $.ajax({
                type: 'POST',
                url: 'DeleteObject',
                dataType: 'html',
                data: { 'objectId': objectId, 'type': type },
                success: function () {
                    console.log(`Delete object ` + type + `: '` + objectId + `'`);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function BanUser(targetId) {
            $.ajax({
                type: 'POST',
                url: 'ChangeRole',
                dataType: 'html',
                data: { 'userId': targetId, 'role': 'Banned' },
                success: function () {
                    console.log(`Ban user '` + targetId + `'`);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function Clean(tr) {
            if (document.getElementById("tableId").rows.length == 2) {
                document.getElementById("tableId").remove();
                let h5 = document.createElement("h5");
                h5.textContent = "@Localizer["report_empty"]";
                $('#mainContainer').append(h5);
            }
            else $(tr).remove();
        }

        $('.delRepButton').click(function () {
            let infoTr = $(this).parent().parent().parent();
            let objectId = infoTr.attr('id');
            let targetId = infoTr.attr('name');
            let type = infoTr.attr('resource');
            DeleteReports(objectId, targetId, type);
            Clean(infoTr);
        });
        $('.delObjButton').click(function () {
            let infoTr = $(this).parent().parent().parent();
            let objectId = infoTr.attr('id');
            let targetId = infoTr.attr('name');
            let type = infoTr.attr('resource');
            DeleteReports(objectId, targetId, type);
            DeleteObject(objectId, type);
            Clean(infoTr);
        });
        $('.banButton').click(function () {
            let infoTr = $(this).parent().parent().parent();
            let objectId = infoTr.attr('id');
            let targetId = infoTr.attr('name');
            let type = infoTr.attr('resource');
            DeleteReports(objectId, targetId, type);
            DeleteObject(objectId, type);
            BanUser(targetId);
            Clean(infoTr);
        });

        $('.showObjectButton').click(function () {
            let objectId = $(this).parent().parent().parent().parent().attr('id');
            let objectType = $(this).attr('data-objectType');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PartialObject", "Recipe")',
                dataType: 'html',
                data: { 'objectId': parseInt(objectId), 'objectType': objectType },
                success: function (data) {
                    $('#postContainer').children().remove();
                    console.log("Show object: '" + objectId + "' of type '" + objectType + "';");
                    $('#postContainer').append(data);
                    $('#postModalButton').click();
                },
                error: function (err) {
                    console.log(err);
                }
            });
    });
    </script>
}