@using Microsoft.AspNetCore.Identity
@inject SignInManager<Data.ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["returnAction"]</a>
                </div>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="Show">Коллекция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="AddorEdit">*Добавить*</a>
                    </li>


                </ul>


                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Recipe" asp-action="SetLanguage" asp-route-culture="ru" asp-route-returnAction="@ViewData["returnAction"]">
                            <img style="max-height:32px; max-width:32px" src="@Localizer["imgRu"]"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Recipe" asp-action="SetLanguage" asp-route-culture="en" asp-route-returnAction="@ViewData["returnAction"]">
                            <img style="max-height:32px; max-width:32px" src=@Localizer["imgEn"] />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Recipe" asp-action="SetLanguage" asp-route-culture="de" asp-route-returnAction="@ViewData["returnAction"]">
                            <img style="max-height:32px; max-width:32px" src=@Localizer["imgDe"] />
                        </a>
                    </li>


                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Info">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Auth" asp-action="Logout">
                                <button type="submit" class="btn btn-danger">Выйти</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Registration">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Вход</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            console.log('Good news');
        };
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

