@using Microsoft.AspNetCore.Identity
@inject SignInManager<Data.ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .site-header {
            overflow: hidden;
        }
        .site-header::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
    </style>
</head>
<body style="background-image: linear-gradient(to bottom, #f6d9bb, #f8e1c8, #fbe9d5, #fdf0e2, #fff8f0);">
    <header class="mine site-header">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-image: linear-gradient(to right, #00733a, #188046, #298d52, #379a5e, #44a86a);">

            <a class="navbar-brand" href="#">MaxCookBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="Show">@Localizer["nav_collection"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="AddorEdit">@Localizer["nav_add"]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="ReportPanel">@Localizer["nav_report_panel"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="AdminPanel">@Localizer["nav_admin_panel"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="CreateInitialRoles">ПЕР Начальные роли ПЕР</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="UpdateRole">ПЕР Дать админку ПЕР</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <a asp-area="" asp-controller="Recipe" asp-action="SetLanguage" asp-route-culture="ru" asp-route-returnAction="@ViewData["returnAction"]">
                        <img style="max-height:32px; max-width:32px" src="@Localizer["imgRu"]" />
                    </a>
                    <a asp-area="" asp-controller="Recipe" asp-action="SetLanguage" asp-route-culture="en" asp-route-returnAction="@ViewData["returnAction"]">
                        <img style="max-height:32px; max-width:32px" src=@Localizer["imgEn"] />
                    </a>
                    <a asp-area="" asp-controller="Recipe" asp-action="SetLanguage" asp-route-culture="de" asp-route-returnAction="@ViewData["returnAction"]">
                        <img style="max-height:32px; max-width:32px" src=@Localizer["imgDe"] />
                    </a>
                </form>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form class="form-inline" method="post" asp-controller="Auth" asp-action="Logout">
                        <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Info">@User.Identity.Name</a>
                        <button type="submit" class="btn btn-danger">@Localizer["nav_exit"]</button>
                    </form>
                }
                else
                {
                    <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Registration" asp-route-returnAction="@ViewData["returnAction"]">@Localizer["nav_registration"]</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Login" asp-route-returnAction="@ViewData["returnAction"]">@Localizer["nav_login"]</a>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3" style="margin-top:65px">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

