@model List<Web.Models.PostViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<style>
    .buttonPost {
        float: right;
        margin-right: 10px
    }

    .aPosts {
        float: right;
        margin-right: 10px;
    }

    .imgPosts {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }

    .bottom-text {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 35px;
        margin-left: 20px;
        padding-right: 40px;
        opacity: 40inherit;
        text-align: right;
    }
</style>

@if ((ViewData["CurrentUserName"].ToString() == "null") && (ViewData["parameter"].ToString() == "my"))
{
    <h2 class="bottom-text">@Localizer["show_login"]</h2>
    return;
}
@if (Model.Count == 0)
{
    <h2 class="bottom-text">@Localizer["show_empty"]</h2>
}
else
{
    <div class="container-fluid">
        <div class="row my-auto justify-content-center">
            @foreach (var item in Model)
            {
                <div class="card mt-5 mx-5 border-success shadow rounded" style="width:auto; max-width:28rem">
                    <div class="@item.PostId">
                        <img class="card-img-top imgPosts" src='@item.ImagePath' alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title @item.PostId">@item.Title</h5>
                        <p class="card-text @item.PostId">@item.Description</p>
                        @if (ViewData["CurrentUserName"].ToString() == item.CreatorUser.UserName || ViewData["CurrentUserRole"].ToString() == "Admin" || ViewData["CurrentUserRole"].ToString() == "Manager")
                        {
                            <button class="delButton aPosts btn btn-outline-dark" id="@item.PostId" data-postId="@item.PostId" data-postTitle="@item.Title">@Localizer["post_delete"]</button>
                            <a asp-controller="Recipe" asp-action="AddorEdit" asp-route-recipeId="@item.RecipeId" class="btn aPosts btn-outline-primary float-right @item.PostId">@Localizer["post_edit"]</a>
                        }
                        else if (ViewData["CurrentUserName"].ToString() != "null")
                        {
                            if (ViewData["parameter"].ToString() == "all")
                            {
                                if (item.SubscribeFlag == false)
                                {
                                    <button class="allSubButton buttonPost btn btn-outline-warning" value="@item.PostId" name="sub" type="button">@Localizer["post_sub"]</button>
                                }
                                else
                                {
                                    <button class="allSubButton buttonPost btn btn-outline-danger" value="@item.PostId" name="unsub" type="button">@Localizer["post_unsub"]</button>
                                }
                            }
                            else
                            {
                                <button class="subButton buttonPost btn btn-outline-danger" value="@item.PostId" name="unsub" type="button">@Localizer["post_unsub"]</button>
                            }
                        }
                        <button class="postButton buttonPost btn btn-outline-success @item.PostId" value="@item.PostId" type="button">@Localizer["post_show"]</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted @item.PostId">@Localizer["post_creator"] @item.CreatorUser</small>
                        @if (!(ViewData["CurrentUserName"].ToString() == item.CreatorUser.UserName || ViewData["CurrentUserRole"].ToString() == "Admin" || ViewData["CurrentUserRole"].ToString() == "Manager" || ViewData["CurrentUserName"].ToString() == "null"))
                        {
                            <button class="repButton btn btn-outline-secondary buttonPost" data-postId="@item.PostId" data-targetName="@item.CreatorUser.UserName.ToString()">
                                <i class="fas fa-flag"></i>
                            </button>
                        }
                    </div>
                </div>
            }

            @*Modal for showDetailPost*@
            <button id="postModalButton" type="button" hidden="hidden" data-toggle="modal" data-target="#postModal"></button>
            <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div id="postContainer" class="modal-content">
                        @*Parial View*@
                    </div>
                </div>
            </div>

            @*Modal for deletePost / reportPost*@
            <button id="delOrRepButton" type="button" hidden="hidden" data-toggle="modal" data-target="#delOrRepModal"></button>
            <div class="modal fade" id="delOrRepModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delOrRepModalTitle" />
                        </div>
                        <div class="modal-body" id="delOrRepModalBody"></div>
                        <div class="modal-footer">
                            <button class="btn buttonPost btn-secondary" type="button" data-dismiss="modal">@Localizer["modal_back"]</button>
                            <button class="btn buttonPost btn-danger" type="button" id="delOrRepModalButton" data-dismiss="modal"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://kit.fontawesome.com/034d9c5f61.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    // Show modal info for delete post
    $('.delButton').click(function () {
        let postId = $(this).attr('data-postId');
        let postTitle = $(this).attr('data-postTitle');
        $('#delOrRepModalTitle').html("@Localizer["post_delete"] '" + postTitle + "'?")
        $('#delOrRepModalBody').html("@Localizer["modal_del_body"]");
        let button = $('#delOrRepModalButton');
        button.data('type', 'delete');
        button.data('postId', postId);
        $('#delOrRepModalButton').html("@Localizer["post_delete"]");
        $('#delOrRepButton').click();
    });
    // Show modal info for report post
    $('.repButton').click(function () {
        let postId = $(this).attr('data-postId');
        let targetName = $(this).attr('data-targetName');
        $('#delOrRepModalTitle').html("@Localizer["modal_rep_title"] '" + targetName + "'?");
        $('#delOrRepModalBody').html("@Localizer["modal_rep_body"]");
        let button = $('#delOrRepModalButton');
        button.data('type', 'report');
        button.data('postId', postId);
        button.data('targetName', targetName);
        $('#delOrRepModalButton').html("@Localizer["modal_rep_button"]");
        $('#delOrRepButton').click()
    });
    // Modal delete/report post action
    $('#delOrRepModalButton').click(function () {
        let postId = $(this).data("postId");
        // Report post
        if ($(this).data("type") == 'report'){
            let targetName = $(this).data("targetName");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ReportPost", "Recipe")',
                dataType: 'html',
                data: { 'postId': postId, 'targetName': targetName},
                success: function (result) {
                    if (result == "true") {
                        alert("@Localizer["post_report_add"]");
                        console.log("Report post: '" + postId + "';");
                    }
                    else {
                        alert("@Localizer["post_report_exists"]");
                        console.log("Report post: '" + postId + "' already exists;");
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        // Delete post
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Recipe")',
                dataType: 'html',
                data: { 'postId': postId },
                success: function () {
                    console.log("Delete post: '" + postId + "';");
                    $('.' + postId).attr('style', 'opacity : 0.4; pointer-events: none;');
                    $('#' + postId).attr('style', 'opacity : 0.4; pointer-events: none;');

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function shadowPost(btn, postId) {
        $('.' + postId).attr('style', 'opacity : 0.4; pointer-events: none;');
        $(btn).attr('class', 'subButton btn btn-outline-secondary buttonPost');
        $(btn).attr('style', 'opacity : 1.0');
    };
    function unshadowPost(btn, postId) {
        $('.' + postId).attr('style', 'opacity : 1.0;');
        $(btn).attr('class', 'subButton btn btn-outline-danger buttonPost');
        $(btn).attr('style', 'opacity : 1.0');
    };

    $('.subButton').click(function () {
        let button = $(this);
        let postId = button.attr('value');
        let subFlag = button.attr('name');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Subscribe", "Recipe")',
            dataType: 'html',
            data: { 'postId': postId, 'subFlag': subFlag },
            success: function () {
                if (subFlag == 'unsub') {
                    shadowPost(button, postId);
                    button.attr('name', 'sub');
                    button.html('@Localizer["post_back_sub"]');
                    console.log("Unsub post: '" + postId + "';");
                }
                else {
                    unshadowPost(button, postId);
                    button.attr('name', 'unsub');
                    button.html('@Localizer["post_unsub"]');
                    console.log("Sub post: '" + postId + "';");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('.allSubButton').click(function () {
        let button = $(this);
        let postId = button.attr('value');
        let subFlag = button.attr('name');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Subscribe", "Recipe")',
            dataType: 'html',
            data: { 'postId': postId, 'subFlag': subFlag },
            success: function () {
                if (subFlag == 'sub') {
                    button.attr('name', 'unsub');
                    button.html('@Localizer["post_unsub"]');
                    button.attr('class', 'allSubButton btn btn-outline-danger buttonPost');
                    console.log("Sub post: '" + postId + "';");
                }
                else {
                    button.attr('name', 'sub');
                    button.html('@Localizer["post_sub"]');
                    button.attr('class', 'allSubButton btn btn-outline-warning buttonPost');
                    console.log("Unsub post: '" + postId + "';");
                }

            },
            error: function (err) {
                console.log(err);
            }
        });

    });

    $('.postButton').click(function () {
        let postId = $(this).attr('value');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PartialRecipe", "Recipe")',
            dataType: 'html',
            data: { 'postId': postId },
            success: function (data) {
                console.log("Show post: '" + postId + "';");
                $('#postContainer').append(data);
                $('#postModalButton').click();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#postModal').on('hide.bs.modal', function (event) {
        console.log("Close post;");
        $('#postContainer').children().remove();
    });
</script>
