@model List<Web.Models.PostViewModel>

<style>
    button {
        float: right;
        margin-right: 10px
    }

    a {
        float: right;
        margin-right: 10px;
    }

    img {
        width: 100%;
        max-width: 600px;
    }
</style>

<div class="row justify-content-center">
    @foreach (var item in Model)
    {
    <div class="col-6" style="margin-top:25px">
        <div class="card" style="width: 30rem;">
            <div class="@item.PostId">
                <img class="card-img-top" src='@item.ImagePath' alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title @item.PostId">@item.Title</h5>
                <p class="card-text @item.PostId">@item.Description</p>
                @if (item.CurrentUser.Email == item.CreatorUser.Email)
                {
                    <button class="delButton btn btn-outline-danger @item.PostId" value="@item.PostId" name="@item.Title">Удалить</button>
                    <a asp-controller="Recipe" asp-action="AddorEdit" asp-route-recipeId="@item.RecipeId" class="btn btn-outline-primary float-right @item.PostId">Редактировать</a>
                }
                else
                {
                    if (ViewData["parameter"].ToString() == "all")
                    {
                        if (item.SubscribeFlag == false)
                        {
                            <button class="allSubButton btn btn-outline-warning" value="@item.PostId" name="sub" type="button">Подписаться</button>
                        }
                        else
                        {
                            <button class="allSubButton btn btn-outline-danger" value="@item.PostId" name="unsub" type="button">Отписаться</button>
                        }
                    }
                    else
                    {
                        <button class="subButton btn btn-outline-danger" value="@item.PostId" name="unsub" type="button">Отписаться</button>
                    }
                }
                <button class="postButton btn btn-outline-success @item.PostId" value="@item.PostId" type="button">Просмотреть</button>
            </div>
            <div class="card-footer">
                <small class="text-muted @item.PostId">Опубликовал: @item.CreatorUser</small>
            </div>
        </div>
    </div>
    }
    @*Modal for showDetailPost*@
    <button id="postModalButton" type="button" hidden="hidden" data-toggle="modal" data-target="#postModal"></button>
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div id="postContainer" class="modal-content">

                @*Parial View*@
            </div>
        </div>
    </div>
    @*Modal for deletePost*@
    <button id="delModalButton" type="button" hidden="hidden" data-toggle="modal" data-target="#deleteModal"></button>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalTitle"></h5>
                </div>
                <div class="modal-body">
                    Данный рецепт удалится и у ваших подписчиков!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                    <button id="delPostButton" type="button" class="btn btn-danger" data-dismiss="modal">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function shadowPost(btn, postId) {
        $('.' + postId).attr('style', 'opacity : 0.4; pointer-events: none;');
        $(btn).attr('class', 'subButton btn btn-outline-secondary');
        $(btn).attr('style', 'opacity : 1.0');
    };
    function unshadowPost(btn, postId) {
        $('.' + postId).attr('style', 'opacity : 1.0;');
        $(btn).attr('class', 'subButton btn btn-outline-danger');
        $(btn).attr('style', 'opacity : 1.0');
    };

    $('.delButton').click(function () {
        console.log("Удалить рецепт!");
        $('#delModalButton').click();
        $('#delModalTitle').html(`Удалить рецепт '` + $(this).attr('name') + `'?`);
        $('#delPostButton').attr('value', $(this).attr('value'));
    });

    $('#delPostButton').click(function () {
        let postId = $(this).attr('value');
        $.ajax({
            type: 'POST',
            url: 'Delete',
            dataType: 'html',
            data: { 'postId': postId },
            success: function () {
                console.log("Delete Post");
                shadowPost(this, postId);
                $(this).attr('class', 'btn btn-danger');
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('.subButton').click(function () {
        let button = $(this);
        let postId = button.attr('value');
        let subFlag = button.attr('name');

        $.ajax({
            type: 'POST',
            url: 'Subscribe',
            dataType: 'html',
            data: { 'postId': postId, 'subFlag': subFlag },
            success: function () {
                if (subFlag == 'unsub') {
                    shadowPost(button, postId);
                    button.attr('name', 'sub');
                    button.html('Вернуть подписку');
                    console.log('Unsub: ' + postId);
                }
                else {
                    unshadowPost(button, postId);
                    button.attr('name', 'unsub');
                    button.html('Отписаться');
                    console.log('Sub: ' + postId);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('.allSubButton').click(function () {
        let button = $(this);
        let postId = button.attr('value');
        let subFlag = button.attr('name');

        $.ajax({
            type: 'POST',
            url: 'Subscribe',
            dataType: 'html',
            data: { 'postId': postId, 'subFlag': subFlag },
            success: function () {
                if (subFlag == 'sub') {
                    button.attr('name', 'unsub');
                    button.html('Отписаться');
                    button.attr('class', 'allSubButton btn btn-outline-danger');
                    console.log('Sub: ' + postId);
                }
                else {
                    button.attr('name', 'sub');
                    button.html('Подписаться');
                    button.attr('class', 'allSubButton btn btn-outline-warning');
                    console.log('Unsub: ' + postId);
                }
                
            },
            error: function (err) {
                console.log(err);
            }
        });

    });

    $('.postButton').click(function () {
        let postId = $(this).attr('value');
        $.ajax({
            type: 'POST',
            url: 'PartialRecipe',
            dataType: 'html',
            data: { 'postId': postId },
            success: function (data) {
                console.log("Show DetailPost");
                $('#postContainer').append(data);
                $('#postModalButton').click();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#postModal').on('hide.bs.modal', function (event) {
        console.log("Remove DetailPost");
        $('#postContainer').children().remove();
    });
</script>
