@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{ 
    var Cat = new SelectListItem[]
    {
        new SelectListItem() {Text = @Localizer["category_0"].Value.Trim(), Value = "0"},
        new SelectListItem() {Text = @Localizer["category_1"].Value.Trim(), Value = "1"},
        new SelectListItem() {Text = @Localizer["category_2"].Value.Trim(), Value = "2"},
        new SelectListItem() {Text = @Localizer["category_3"].Value.Trim(), Value = "3"},
    };
    var Dif = new SelectListItem[]
    {
        new SelectListItem() {Text = @Localizer["difficult_0"].Value.Trim(), Value = "0"},
        new SelectListItem() {Text = @Localizer["difficult_1"].Value.Trim(), Value = "1"},
        new SelectListItem() {Text = @Localizer["difficult_2"].Value.Trim(), Value = "2"},
        new SelectListItem() {Text = @Localizer["difficult_3"].Value.Trim(), Value = "3"},
        new SelectListItem() {Text = @Localizer["difficult_4"].Value.Trim(), Value = "4"},
    };
}

<style>
    .left{
        margin-left:10px;
    }
    .right{
        margin-right:10px;
    }
</style>

<div id="all" class="card shadow-lg">
    <div class="card-header align-middle" style="background-image: linear-gradient(to right bottom, #cf8a43, #da9e60, #e4b17e, #edc59c, #f6d9bb); ">
        <div class="row">
            <h1 class="left display-4 font-weight-bold">@Localizer["card_header"]</h1>
            <div class="form-inline input-group left">
                <input  id="inpPar" type="text" class="form-control" placeholder="@Localizer["search_placeholder"]" aria-describedby="basic-addon1">
                <select id="catPar" class="form-control left" asp-items=Cat></select>
                <select id="difPar" class="form-control left" asp-items=Dif></select>
                <div class="input-group-prepend">
                    <button id="searchButton" class="btn btn-primary">@Localizer["search_button"]</button>
                    <button id="emptyButton" class="btn btn-outline-info right">@Localizer["search_empty"]</button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item left">
                    <a class="nav-link btn btn-outline-info active" name="all" id="allPostsTab" data-toggle="pill" href="#allPostsContainer" role="tab" aria-controls="allPostsContainer" aria-selected="true">@Localizer["show_all"]</a>
                </li>
                <li class="nav-item left">
                    <a class="nav-link btn btn-outline-info" name="my" id="myPostsTab" data-toggle="pill" href="#myPostsContainer" role="tab" aria-controls="myPostsContainer" aria-selected="false">@Localizer["show_my"]</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="card-body" style="background-image: linear-gradient(to bottom, #fff8f0, #fff8f5, #fff9fa, #fefbfd, #fdfdfd);">
        <div class="row tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="allPostsContainer" role="tabpanel">
                <div id="allPosts">

                </div>
            </div>
            <div class="tab-pane fade" id="myPostsContainer" role="tabpanel">
                <div id="myPosts">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function GetPartialPost(typePar = 'all') {
            let inpPar = $('#inpPar').val();
            let catPar = $('#catPar').val();
            let difPar = $('#difPar').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PartialPost", "Recipe")',
                dataType: 'html',
                data: { 'typePar': typePar, 'inpPar': inpPar, 'catPar': catPar, 'difPar': difPar },
                success: function (data) {
                    console.log(`Get posts: typePar '` + typePar + `', inpPar '` + inpPar + `', catPar '` + catPar + `', difPar '` + difPar + `';`);
                    let container = GetContainer(typePar);
                    container.empty();
                    container.append(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };
        function GetContainer(typePar) {
            if (typePar == 'all') return $('#allPosts');
            if (typePar == 'my') return $('#myPosts');
        };

        window.onload = function () {
            GetPartialPost();
        };

        $('#emptyButton').click(function () {
            $('#inpPar').val("");
            $('#catPar').val("0");
            $('#difPar').val("0");
            let typePar = $(this).parent().parent().parent().parent().parent().attr('id');
            GetPartialPost(typePar);
        });

        $('#searchButton').click(function () {
            let typePar = $(this).parent().parent().parent().parent().parent().attr('id');
            GetPartialPost(typePar);
        });

        $('.nav-link').on('show.bs.tab', function (e) {
            let typePar = $(this).attr('name');
            $(this).parent().parent().parent().parent().parent().attr('id', typePar);
            GetPartialPost(typePar);
        });

        $('.nav-link').on('hidden.bs.tab', function (e) {
            let container = GetContainer($(this).attr('name'));
            container.empty();
        });
    </script>
}
